.App{
  width: 40%;
  margin: 2em auto;
  background-color: #394049;
  border-radius: 5px;
}

.App input{
  background-color: #232323;
}

.App .veryGood{
  color: yellow;
}

.App .Congratulations{
  color: green;
}