.App{
    margin: 0 auto;
    border-color: black;
    margin-bottom: 1500px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    height: 800;
    width: 1200px;
}